html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,p,blockquote,pre,form,fieldset,table,th,td {
margin:0;
padding:0;
}

#viewer #markers .bubble {
	cursor: pointer;
	position: absolute;
	top: -3em;
	height: 3em;
	width: 9em;
	left: -4.5em;
	z-Index:10000; 
	display: block;
	background: #fff;
	background:	rgba(255,255,255,0.8);
	border: solid 2px #999;
	border: solid 2px rgba(0,0,0,0.5);
	color: #000000;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 1em;

}

body {
	background:#ddd;
	color:#fff;
	width: 100%;
	height: 100%;
	overflow:hidden;
	-webkit-text-size-adjust:none;
	-webkit-user-select:none;
}

#viewer {
	background: #dddddd url(images/loading.gif) center no-repeat;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 100;
	top: 0;
	left: 0;
}

body.witheffects #viewer {
	-webkit-backface-visibility:hidden;
}

#viewer * {
	-webkit-user-select:ignore;
}

#viewer .controls {
	position:absolute;
	right:15px;
	top:15px;
	z-index:2000;
	-webkit-user-select:none;
}

#viewer .controls span {
	background-image:url(images/buttons.png);
	border:none;
	display:block;
	height:36px;
	width:36px;
	margin:0;
	opacity:0.8;
	padding:4px 2px 2px;
	text-indent:-999em;
	-webkit-border-radius:20px;

}

#viewer .controls span.findLocation {
	background-position:0 -153px;
}

#viewer .controls span.info {
	background-position:0 -203px;
}

#viewer .controls span.settings {
	background-position:0 2px;
}

#viewer .controls span.zoomIn {
	background-position:0 -102px;
}

#viewer .controls span.zoomOut {
	background-position: 0px -50px;
}


#viewer .copyright {
	position: absolute;
	bottom:0;
	left:0;
	margin:0;
	padding: 5px;
	z-index:2000;
	opacity: 0.5;
}

#viewer .well, #viewer .surface {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	/* FIXME: let's apply this in GSV.js */
	/*cursor: grab;*/
	cursor: -moz-grab;
}
#viewer .surface {
	z-index: 20;
}
#viewer .well {
	overflow: hidden;
	z-index: 10;
}
#viewer .well .tile
{
	border: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
}

.marker {
	z-index: 999;
	position: absolute;
}
